.App {
  text-align: center;
  background-color: #1B3DCC;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  padding-top: 25px;
}

.appContent{
  background-color: white;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.headerContent {
  background-color: #1B3DCC;
  color: white;
}

.headerContent > h1{
  font-size: 3rem;
}

.headerImg{
  height: 250px;
  width: 100vw;
  padding-bottom: -100px;
}



.navBar{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 20px;
}

.iconContent{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  min-width: 15%;
  color: white;
  letter-spacing: unset;
}

.icon{
  width: 25px;
  margin-right: 15px;
}

.latestEpisodeCard{
  width : 75vw;
  height: 200px;
  display: flex;
  justify-content: center;
}

.latestEpImg{
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#1B3DCC, #1B3DCC), url("https://blacktechunplugged.files.wordpress.com/2020/06/caren-young.png");
  background-blend-mode: color;
  background-size: contain;
}

.latestEpContent{
  width: 350px;
  padding: 15px 10px;
  background-color: white;
  color: #000;
}

.latestEpTitle{
  font-size: 1.5rem;
  text-align: left;
  color: #1B3DCC;
}

.latestEpDescription{
  font-size: .6rem;
  text-align: left;
}

.card{
  display: flex;
  width : 600px;
  height: 200px;
  background-color: light#1B3DCC;

}

.epCardImg{
  width : 200px;
  height: 200px;
  /* background-image: linear-gradient(#1B3DCC, #1B3DCC), url("https://blacktechunplugged.files.wordpress.com/2020/06/caren-young.png");
  background-blend-mode: color;
  background-size: contain; */
  filter: linear-gradient(#1B3DCC, #1B3DCC);
}

.epCardTitle{
  font-weight: bold;
}

.epCardDesciption{
font-size: .5rem;
}

.button{
  font-size: 14px;
  height: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 60px;
  text-transform: uppercase;
  white-space: normal;
  color: #fff;
  border: 1px solid;
}

.dark {
  color: #000;
  border: 1px solid;
}

.navButtons {
  display: flex;
  min-width: 25%;
  justify-content: space-between;
  align-items: center;
}
.navLink > a {
  position: relative;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.navLink > a:hover {
  color: #fff;
}

.navLink > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navLink > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}